
body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: auto;
    flex-direction: row;
    display:flex
}

.vermelho{
    width: 400px;
    height: 400px;
    background-color: red;
}

.verde{
    background-color: green;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-bottom: 10px;
}

.rosaeroxo{
    display: flex;
}

.rosa{
    background-color: rgb(250, 140, 158);
    width: 300px;
    height: 190px;
    margin-left: 10px;
}

.roxo1{
    background-color: purple;
    height: 90px;
    width: 390px;
    margin-left: 10px;
}

.roxo2{
    background-color: purple;
    height: 90px;
    width: 390px;
    margin-left: 10px;
    margin-top: 10px;
}

